@CHARSET "ISO-8859-1";

/* ADDED OWN CSS */
.added,.removed {
	font-weight: bold;
	font-size: 150%;
}

.added {
	color: green;
}

.removed {
	color: red;
}

.xtra_link {
	padding: 10px;
}

.removedBackground {
	background-color: #DCDCDC;
}

.showDays {
	display: block;
	position: absolute;
	left: 250px;
	top: 15px;
	width: 300px;
	z-index: 1;
}